<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated abc -->
      <package
            uri="http:///ABC.ecore"
            class="ABC.ABCPackage"
            genModel="MetaModel/abc.genmodel"/>
   </extension>

   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TransitionQVT -->
      <package
            uri="http://TransitionQVT.ecore"
            class="TransitionQVT.TransitionQVTPackage"
            genModel="MetaModel/TransitionQVT.genmodel"/>
   </extension>

</plugin>
