<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TransitionQVT -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="TransitionQVT.presentation.TransitionQVTModelWizardID"
            name="%_UI_TransitionQVTModelWizard_label"
            class="TransitionQVT.presentation.TransitionQVTModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TransitionQVTModelFile.gif">
         <description>%_UI_TransitionQVTModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TransitionQVT -->
      <editor
            id="TransitionQVT.presentation.TransitionQVTEditorID"
            name="%_UI_TransitionQVTEditor_label"
            icon="icons/full/obj16/TransitionQVTModelFile.gif"
            extensions="transitionqvt"
            class="TransitionQVT.presentation.TransitionQVTEditor"
            contributorClass="TransitionQVT.presentation.TransitionQVTActionBarContributor">
      </editor>
   </extension>

</plugin>
